(
  name: "Monokai Mod Light",
  foreground: "#252525",
  cursor: "#252525",
  bright_foreground: "#252525",
  dim_foreground: "#636363", 
  normal: (
    black: "#eaeaea",
    red: "#c6043c",
    green: "#217033",
    yellow: "#746202",
    blue: "#156892",
    magenta: "#5d4dd5",
    cyan: "#136e6f",
    white: "#636363",
  ),
  bright: (
    black: "#be4902",
    red: "#eb0448",
    green: "#28873d",
    yellow: "#8a7502",
    blue: "#1a7daf",
    magenta: "#7265da",
    cyan: "#168384",
    white: "#252525",
  ),
  dim: (
    black: "#eaeaea",
    red: "#c6043c",
    green: "#217033",
    yellow: "#746202",
    blue: "#156892",
    magenta: "#5d4dd5",
    cyan: "#136e6f",
    white: "#636363",
  ),
)
